{% extends "ctpo/base.html" %}
{% load static %}
{% block title %}Все новости{% endblock %}
    {% block content %}
    <h1 class="block_name_news">Новости</h1>
    <div class="content">
        <div class="news_conteiner">
            {% for post in posts %}
	    <a href="{{post.get_absolute_url}}">
	    <div class="news_card">
                <div class="card_info">
                    <h3 class="news_title">{{post.title}}</h3>
                    <img class="news_list_img" src="{{ post.img.url }}" alt="">
                </div>
            </div>
	    </a>
            {% endfor %}
            
        </div>
        {% include "../pagination.html" with page=posts %}
    </div>

{% endblock %}
