header{
	width: 100vw;
  	height: 100vh;
	background: url(../img/main_img.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.content{	
	margin-left: 200px;
	margin-right: 200px;

}

.title{
	padding-top: 100px;
}

.main_description{
	float: right;
	width: 500px;
	height: 155px;
	padding-top: 500px;
}
.block_name{
	margin: 100px 0px 70px 200px;
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 115px;
	color: #C5C5C5;
}

.news_title{
	margin-bottom: 50px;
}

.news_img img{
	width: 100%;
	height: 700px;
}

.news_text{
	margin-top: 50px;
	margin-bottom: 100px;
}

.content_programs{
	display: flex;
	justify-content:  space-between;
}

.description{
	max-width: 40%;
	display: flex;
	flex-wrap: wrap;
}

.description_title{
	max-width: 30%;
	display: flex;
	flex-wrap: wrap;
	margin-right: 20%;
}

.description_title hr{
	width: 100%;
}

.description_txt p{
	margin-top: 50px;
}

.content_contact{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: ;
}

.map{
	
}

.contact_info{
	margin: auto;
}

.contact_info p{
	text-align: center;
	margin: 7% 0 7% 0;

}

footer{
	margin-top: 100px;
}

.footer_content{
	margin: 50px 0  50px 0;
}

.footer_content a{
	margin-left: 50px;

}

.footer_content p{
	float: right;
	margin: 0;
}

.description_img{
	display: none;
}

.description_txt{
	display: none;
}

.description_img.activ_img{
	display: block;
}

.description_txt.active_txt{
	display: block;
}