@font-face{

font-family: 'SF Compact Display';

src: url('../fonts/sf-compact-display-thin-58646eb43a785.otf');

font-weight: normal;

font-style: normal;

}

hr{
	border: 1px solid #C4C4C4;
}

.title h1{
	color: #3A55E7;
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 115px;
}

.title h2{
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	color: #828282;
}

.news_title h3{
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
}

.news_text p{
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
}

.date p {
	text-align: right;
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 130%;
	color: #828282;
}

.contact_info p{
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
}

.footer_content a{
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

	color: #C4C4C4;

}
.footer_content p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

	color: rgba(58, 85, 231, 0.8);
}

