header{
  	height: 100vh;
	background: url(../img/main_img.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.content{
	margin-left: 200px;
	margin-right: 200px;

}

.news_list_img{
	max-width: 595px;
	max-height: 335px;
	margin: 30px 0 30px 0;
}


.news_img{
	max-width: 1200px;
	max-height: 675px;
	margin: 30px 0 30px 0;
}

.news_body{
	Font-family: SF Compact Display;
	Font-style: Regular;
	Font-size: 18px;
}

.news_name{
	margin-bottom: 30px;
	font-family: SF Compact Display;
	font-size: 64px;
	line-height: 75px;
	color: rgba(0, 0, 0, 0.7);
}

.title{
	padding-top: 100px;
}

.main_description{
	float: right;
	width: 500px;
	height: 155px;
	padding-top: 500px;
}
.block_name{
	margin: 100px 0px 70px 200px;
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 115px;
	color: #C5C5C5;
}

.date.second_date_news{
	display: none;
}


.content_programs{
	display: flex;
	justify-content:  space-between;
}

.description{
	max-width: 40%;
	display: flex;
	flex-wrap: wrap;
}

.description_title{
	max-width: 30%;
	display: flex;
	flex-wrap: wrap;
	margin-right: 20%;
}

.description_title hr{
	width: 100%;
}

.description_txt p{
	max-width: 600px;
	margin-top: 50px;
}

.content_contact{
	display: flex;
	flex-wrap: wrap;
}

.phone_map{
	display: none;
}

.contact_info{
	margin: auto;
}

.contact_info p{
	text-align: center;
	margin: 7% 0 7% 0;

}

footer{
	margin-top: 100px;
}

.footer_content{
	margin: 50px 0  50px 0;
}

.footer_content a{
	margin-left: 50px;

}

.footer_content p{
	float: right;
	margin: 0;
}

.description_img{
	display: none;
}

.description_txt{
	display: none;
}

.description_img.activ_img{
	display: block;
}

.description_txt.active_txt{
	display: block;
}

.news_conteiner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.news_card{
	min-width: 595px;
	min-height: 400px;
	max-width: 595px;
	max-height: 400px;
	margin: 10px 10px 0 0;
}

.card_info{
	display: flex;            /* establish flex container */
  	flex-direction: column;   /* stack flex items vertically */
  	position: relative; 
}

.news_title{
	position: absolute;
	color: white;
	font-weight: bold;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	
}

.news_text{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
  	font-weight: bold;
}

.block_name_news{
	text-align: center;
	margin: 100px 0px 70px 0px;
	font-family: SF Compact Display;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 115px;
	color: #C5C5C5;
}

@media (max-width: 1440px){
    .description_img img{
    	width: 400px;
    	height: 225px;
	}
	.description_img{
    	width: 400px;
		height: 300px;
		margin-bottom: 20px;
    }
    .main_description{
    	padding: 0px;

    }

    .description_img img{
    	width: 450px;
    	height: 253px;
	}
	.description_txt p{
		margin: 0;
	}
	

}
@media (max-width: 1024px){
	.block_name{
		text-align: center;
		margin: 40px 0 40px 0;
		font-size: 56px;
	}
	header{
		height: 400px;
	}
	.title{
		padding: 0;
		width: 100%;
	}
	.title h1{
		padding-top: 9%;
		text-align: center;
		font-size: 50px;
	}
	.title h2{
		text-align: center;
		font-size: 30px;
	}
    .main_description{
    	float: none;
    	text-align: center;
    	padding-top: 500px;

    }
    .content_contact{
    	flex-direction: column-reverse;
    }
    .map{
    	margin: 20px auto 0 auto;
    }
	.content{
		margin: auto;
		width: 100%;
	}
	.content_programs{
		margin: auto;
	}
	.description{
		margin-left: 10%;
	}
	.description_title{
		margin-right: 10%;
	}
	.main_description{
		display: none;

	}
	.footer_content p {
		margin-right: 50px;

	}
	.news_img{
		max-width: 1024px;
		max-height: 576px;
		margin: 10px 0 30px 0;
	}
	
	.news_body{
		Font-family: SF Compact Display;
		Font-style: Regular;
		Font-size: 18px;
	}
	
	.news_name{
		margin-bottom: 10px;
		font-family: SF Compact Display;
		font-size: 64px;
		line-height: 75px;
		color: rgba(0, 0, 0, 0.7);
	}
}

@media (max-width: 768px){
	.block_name{
		margin: 75px 0 35px 0;
		text-align: center;
	}
	
    .contact_info p{
    	font-size: 30px;
    	margin: 0;

    }
    .map{
    	display: none;
    }
    .phone_map{
    	margin: 20px auto 20px auto;
    	display: block;

    }
    .footer_content p{
    	margin: 20px 0 0 0;
    	float: none;
    	text-align: center;
    }
    .footer_content a{
    	float: none;
    	text-align: center;
    }
    
    header{
    	height: 300px;
    	padding: 0;
    	margin: auto;
    }
	.title{
		padding: 30px 0 0 0;
		text-align: center;
	}

    .content{
    	margin: 0;
    	padding: 0;
    }

    .news{
    	height: 400px;
    }
    .footer_content{
    	text-align: center;
    }
    .footer_content a{
    	margin: 0 20px 0 0;
    }
	.description_img img{
    	width: 300px;
    	height: 169px;
	}
	
	.description_img{
		height: 200px;
	}

    .main_description{
    	padding: 0px;

    }
    .description_txt p{
    	font-size: 20px;
	}
	.description_txt{
		margin: 0;
		height: 100%;
	}
	.block_name{
		font-size: 45px;
		line-height: 100%;
	}
	.news{
    	height: 300px;
    }
	.news_img{
		max-width: 768px;
		max-height: 432px;
		margin: 30px 0 30px 0;
	}
	
	.news_body{
		Font-family: SF Compact Display;
		Font-style: Regular;
		Font-size: 18px;
	}
	
	.news_name{
		margin-bottom: 30px;
		font-family: SF Compact Display;
		font-size: 64px;
		line-height: 75px;
		color: rgba(0, 0, 0, 0.7);
	}
}

@media (max-width: 425px){
	.description{
		display: none;
	}

	.description_title{ 
		margin: auto;
		max-width: 95%;
		padding: 0;
	}

	.block_name_news{
		margin: 25px 0 25px 0;
		font-size: 45px;
	}

	.news_card{
		min-width: 425px;
		min-height: 0;
		margin: 5px 0px 0 0;
	}
	.news_title{
		top: 50%;
		left: 50%;
	}

	.news_text{
		display: none;
	}
	.news_list_img{
		max-width: 425px;
		max-height: 239px;
		margin: 30px 0 30px 0;
	}

	.news_img{
		max-width: 425px;
		max-height: 239px;
		margin: 10px 0 30px 0;
	}
	
	.news_body{
		Font-family: SF Compact Display;
		Font-style: Regular;
		Font-size: 18px;
	}
	
	.news_name{
		margin-bottom: 10px;
		font-family: SF Compact Display;
		font-size: 54px;
		line-height: 75px;
		color: rgba(0, 0, 0, 0.7);
	}
	table{
		max-width: 425px;
	}
	
}
@media (max-width: 375px){
	.title h1{
		font-size: 40px;
	}

	.title h2{
		font-size: 25px;
	}

	.news_card{
		min-width: 375px;
	}
	.news_img{
		max-width: 375px;
		max-height: 211px;
		margin: 10px 0 30px 0;
	}
	
	.news_body{
		Font-family: SF Compact Display;
		Font-style: Regular;
		Font-size: 18px;
	}
	
	.news_name{
		margin-bottom: 10px;
		font-family: SF Compact Display;
		font-size: 44px;
		line-height: 75px;
		color: rgba(0, 0, 0, 0.7);
	}
	table{
		max-width: 375px;
	}
}
@media (max-width: 320px){
	.news_card{
		min-width: 320px;
	}

	.title h1{
		font-size: 35px;
	}

	.title h2{
		font-size: 25px;
	}

	.phone_map{
		display: none;
	}
	.news_img{
		max-width: 320px;
		max-height: 180px;
		margin: 10px 0 30px 0;
	}
	
	.news_body{
		Font-family: SF Compact Display;
		Font-style: Regular;
		Font-size: 17px;
	}
	
	.news_name{
		margin-bottom: 10px;
		font-family: SF Compact Display;
		font-size: 34px;
		line-height: 75px;
		color: rgba(0, 0, 0, 0.7);
	}
	table{
		max-width: 320px;
	}

}