{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <link href="{% static "css/layout.css" %}" rel="stylesheet">
        <link href="{% static "css/reset.css" %}" rel="stylesheet">
        <link href="{% static "css/slider.css" %}" rel="stylesheet">
    </head>
    <body>
        {% block content %}        
        {% endblock %}
        </div>
    <footer>
		<div class="content">
			<hr>
			<div class="footer_content">
				<a href="{%url "ctpo:main_page"%}">Главная</a>
				<a href="{%url "ctpo:all_news"%}">Новости</a>
				<p>ЦТПО "МИЭТ"</p>
			</div>
		</div>
	</footer>
    </body>
</html>